mazcacnpenworthadf01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mazcacnpenworthadf01"
		},
		"AzureDatacopyls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDatacopyls'"
		},
		"ls_az_sql_dar_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_az_sql_dar_db'"
		},
		"AzureDatabricksDeltaLake1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksDeltaLake1'"
		},
		"CNE_Azure_Account_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CNE_Azure_Account'"
		},
		"Hdfs1_self_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Hdfs1_self'"
		},
		"Link_CNE_Storage_Account_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Link_CNE_Storage_Account'"
		},
		"Oracle_prod_test_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Oracle_prod_test'"
		},
		"UserCredentials_A_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'UserCredentials_A'"
		},
		"UserLevelAccess-S_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'UserLevelAccess-S'"
		},
		"AzureDatacopyls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mazcacdmtnpesybaseiqstg1.dfs.core.windows.net"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ccnpedmtnetworthkv01.vault.azure.net/"
		},
		"Networth_Key_Vault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ccnpedmtnetworthkv01.vault.azure.net/"
		},
		"ls_5g_data_enablment_az_kv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://dmtnpesybasekeyvault.vault.azure.net/"
		},
		"ls_cradlepoint_rest_api_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.cradlepointecm.com/api/v2"
		},
		"ls_smoke_az_kv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://dmtnpesmokekeyvault.vault.azure.net/"
		},
		"Dev_Networth_Hadoop_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://ehdpdd101.dev.dmt.rogers.com:50070/webhdfs/v1/"
		},
		"Dev_Networth_Hadoop_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "serv_netwr_maz_hdp_d@RCI.ROGERS.CA"
		},
		"Hdfs1_self_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://ehdpdd109.dev.dmt.rogers.com:50070/webhdfs/v1/"
		},
		"Hdfs1_self_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "arun.konda@RCI.ROGERS.CA"
		},
		"Link_CNE_Storage_Account_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mazcacdmtnpesybaseiqstg1.dfs.core.windows.net"
		},
		"UserCredentials_A_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://ehdpdd101.dev.dmt.rogers.com:50070/webhdfs/v1/"
		},
		"UserCredentials_A_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "arun.konda@RCI.ROGERS.CA"
		},
		"UserLevelAccess-S_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://ehdpdd109.dev.dmt.rogers.com:50070/webhdfs/v1/"
		},
		"UserLevelAccess-S_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "srinivasrao.mullapud@RCI.ROGERS.CA"
		},
		"dev_hadoop_connectivity_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://ehdpdd109.dev.dmt.rogers.com:50070/webhdfs/v1/"
		},
		"dev_hadoop_connectivity_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "serv_netwr_maz_hdp_d@RCI.ROGERS.CA"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_SRC_COUNT_ZERO_CHECK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If src rec count is 0",
						"description": "If no src record was put on to RDS-STAGE then lets voice out to load control and abort the flow",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(int(pipeline().parameters.SRC_COUNT_DERIVED),0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "set output_message 4 rec count 0",
									"description": "This is more like a err or info message to look upon",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_OUTPUT_MESSAGE",
										"value": "Either No File in staging to ingest to blob or src rec count is 0. Please check."
									}
								},
								{
									"name": "Raise Exception Err_No_Src_Record_loaded",
									"description": "No Records :( hence marking the job for Failure !!",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "set output_message 4 rec count 0",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_RAISE_EXCEPTION",
										"value": {
											"value": "@int(variables('V_OUTPUT_MESSAGE'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SRC_COUNT_DERIVED": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"variables": {
					"V_SRC_COUNT_DERIVED": {
						"type": "String",
						"defaultValue": "0"
					},
					"V_OUTPUT_MESSAGE": {
						"type": "String",
						"defaultValue": "NULL"
					},
					"V_RAISE_EXCEPTION": {
						"type": "Array",
						"defaultValue": [
							"NULL"
						]
					}
				},
				"folder": {
					"name": "Data Ingestion FrmWrk"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-09T16:27:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatacopyls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDatacopyls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDatacopyls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Networth_Key_Vault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Networth key vault",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('Networth_Key_Vault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_5g_data_enablment_az_kv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Key Vault for Prod Linked Service",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_5g_data_enablment_az_kv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_az_sql_dar_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to connect to Darwin SQL MI Instance - Dev ",
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('ls_az_sql_dar_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_cradlepoint_rest_api')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is for connecting to Cradlepoint REST endpoints",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_cradlepoint_rest_api_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_smoke_az_kv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Key Vault for Prod Linked Service",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_smoke_az_kv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/networthir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DAR_SQLMI_Datasets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset for DAR SQLMI db",
				"linkedServiceName": {
					"referenceName": "ls_az_sql_dar_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataSets_4_DIF"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_az_sql_dar_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLake1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-1348407712854365.5.azuredatabricks.net",
					"clusterId": "0518-163526-chid563",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksDeltaLake1_accessToken')]"
					}
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CNE_Azure_Account')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('CNE_Azure_Account_connectionString')]"
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_Networth_Hadoop')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Hdfs",
				"typeProperties": {
					"url": "[parameters('Dev_Networth_Hadoop_properties_typeProperties_url')]",
					"authenticationType": "Windows",
					"userName": "[parameters('Dev_Networth_Hadoop_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "secret-networth-hdfs-service-id-pwd"
					}
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hdfs1_self')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Hdfs",
				"typeProperties": {
					"url": "[parameters('Hdfs1_self_properties_typeProperties_url')]",
					"authenticationType": "Windows",
					"userName": "[parameters('Hdfs1_self_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Hdfs1_self_password')]"
					}
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Link_CNE_Storage_Account')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Link_CNE_Storage_Account_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Link_CNE_Storage_Account_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Networth_DataBricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1348407712854365.5.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "secret-networth-dbricks-token",
						"secretVersion": ""
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "2",
					"newClusterSparkConf": {
						"spark.hadoop.mapreduce.fileoutputcommitter.cleanup.skipped": "false",
						"spark.yarn.preserve.staging.files": "false"
					},
					"newClusterVersion": "7.3.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_prod_test')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Oracle_prod_test_connectionString')]"
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UserCredentials_A')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Hdfs",
				"typeProperties": {
					"url": "[parameters('UserCredentials_A_properties_typeProperties_url')]",
					"authenticationType": "Windows",
					"userName": "[parameters('UserCredentials_A_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('UserCredentials_A_password')]"
					}
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UserLevelAccess-S')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Hdfs",
				"typeProperties": {
					"url": "[parameters('UserLevelAccess-S_properties_typeProperties_url')]",
					"authenticationType": "Windows",
					"userName": "[parameters('UserLevelAccess-S_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('UserLevelAccess-S_password')]"
					}
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_hadoop_connectivity')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Hdfs",
				"typeProperties": {
					"url": "[parameters('dev_hadoop_connectivity_properties_typeProperties_url')]",
					"authenticationType": "Windows",
					"userName": "[parameters('dev_hadoop_connectivity_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Networth_Key_Vault",
							"type": "LinkedServiceReference"
						},
						"secretName": "secret-networth-hdfs-service-id-pwd"
					}
				},
				"connectVia": {
					"referenceName": "networthir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/networthir')]",
				"[concat(variables('factoryId'), '/linkedServices/Networth_Key_Vault')]"
			]
		}
	]
}