pipeline/PL_ELT_FRAMEWORK_MAIN.json
{
	"name": "PL_ELT_FRAMEWORK_MAIN",
	"properties": {
		"activities": [
			{
				"name": "Ingest_by_src_type",
				"description": "Start the actual PULL from src to RDS-STAGE blob",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Clean RDS if DEST_TYPE is not STAGE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.SRC_TYPE",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "HDFS",
							"activities": [
								{
									"name": "PL_HDFS_MAIN",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_HDFS_MAIN",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DELTA_CURR_MAX_VALUE": {
												"value": "@pipeline().parameters.CURR_MAX_DELTA_COL_VALUE",
												"type": "Expression"
											},
											"SRC_TBL_FILE_PATH": {
												"value": "@pipeline().parameters.SRC_TBL_FILE_PATH",
												"type": "Expression"
											},
											"SRC_DELTA_COL": {
												"value": "@pipeline().parameters.SRC_DELTA_COL",
												"type": "Expression"
											},
											"HDFS_PARTITION_COL_FORMAT": {
												"value": "@pipeline().parameters.HDFS_PARTITION_COL_FORMAT",
												"type": "Expression"
											},
											"PARTITION_THRESHOLD": {
												"value": "@pipeline().parameters.PARTITION_THRESHOLD",
												"type": "Expression"
											},
											"PARTITION_THRESHOLD_TYPE": {
												"value": "@pipeline().parameters.PARTITION_THRESHOLD_TYPE",
												"type": "Expression"
											},
											"ODS_LOC": {
												"value": "@pipeline().parameters.ODS_LOC",
												"type": "Expression"
											},
											"WINDOW_START_TIME_UTC": {
												"value": "@pipeline().parameters.WINDOW_START_TIME_UTC",
												"type": "Expression"
											},
											"WINDOW_END_TIME_UTC": {
												"value": "@pipeline().parameters.WINDOW_END_TIME_UTC",
												"type": "Expression"
											},
											"DEST_TYPE": {
												"value": "@pipeline().parameters.DEST_TYPE",
												"type": "Expression"
											},
											"DEST_TBL": {
												"value": "@pipeline().parameters.DEST_TBL",
												"type": "Expression"
											},
											"SRC_TYPE": {
												"value": "@pipeline().parameters.SRC_TYPE",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set V_SRC_COUNT_DERIVED",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "PL_HDFS_MAIN",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_SRC_COUNT_DERIVED",
										"value": "1"
									}
								},
								{
									"name": "Set IS_ERR_TO_RAISE to Y",
									"description": "This is to check if the failed flow is not recovered",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "PL_HDFS_MAIN",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_IS_ERR_TO_RAISE",
										"value": "Y"
									}
								},
								{
									"name": "Set IS_ERR_TO_RAISE to N",
									"description": "This is to check if the failed flow is not recovered",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set V_SRC_COUNT_DERIVED",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_IS_ERR_TO_RAISE",
										"value": "N"
									}
								}
							]
						},
						{
							"value": "NTW_FTP",
							"activities": [
								{
									"name": "Copy from FTP",
									"description": "Copy data from FTP to RDS stage. Infact its a move from FTP to RDS stage. ",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Exec Fin File Checker",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "FtpReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@{concat(pipeline().parameters.SRC_TBL_FILE_PATH)}",
													"type": "Expression"
												},
												"wildcardFileName": {
													"value": "@replace(pipeline().parameters.SRC_TBL_FILE_NAME_PATTERN, '.fin', '')",
													"type": "Expression"
												},
												"useBinaryTransfer": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_az_stg_acc",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@concat('logs/', if(equals(pipeline().parameters.DEST_TYPE, 'ODS'), variables('V_ODS_LOC'), concat(variables('V_RDS_STAGE_LOC'), '/', pipeline().parameters.SRC_TYPE, '-STAGE/', pipeline().parameters.DEST_TBL)))",
												"type": "Expression"
											}
										},
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "NTW_FTP_Datasets",
											"type": "DatasetReference",
											"parameters": {
												"SRC_DATASET_PATH": {
													"value": "@{concat(pipeline().parameters.SRC_TBL_FILE_PATH)}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BLOB_Binary_Datasets",
											"type": "DatasetReference",
											"parameters": {
												"CONTAINER": {
													"value": "@concat(variables('V_RDS_STAGE_LOC'), '/', pipeline().parameters.SRC_TYPE, '-STAGE')",
													"type": "Expression"
												},
												"FOLDER_FILE": {
													"value": "@pipeline().parameters.DEST_TBL",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set V_SRC_DATA_COUNT for ftp",
									"description": "set the data written size to evaluate if  any src record was copied or not ",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy from FTP",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_SRC_COUNT_DERIVED",
										"value": {
											"value": "@string(activity('Copy from FTP').output.datawritten)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "ARCHIVE FTP FILES",
									"description": "as its mv ie copy and delete from FTP to RDS. if 5 files and 4 copied 1 failed at src you would have only 1 file left. To Rerun Support need to copy from archive for the latest run",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Copy from FTP",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_ARCHIVER",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"RDS_STAGE_LOC": {
												"value": "@concat(variables('V_RDS_STAGE_LOC'), '/', pipeline().parameters.SRC_TYPE, '-STAGE')",
												"type": "Expression"
											},
											"DEST_TBL": {
												"value": "@pipeline().parameters.DEST_TBL",
												"type": "Expression"
											},
											"SRC_TYPE": {
												"value": "@pipeline().parameters.SRC_TYPE",
												"type": "Expression"
											},
											"ID": {
												"value": "@pipeline().parameters.WINDOW_END_TIME_UTC",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set isErr true",
									"description": "if any err in archival, set this flag and voice out the exception !!",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "ARCHIVE FTP FILES",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_IS_ERR_TO_RAISE",
										"value": {
											"value": "Y",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set isErr true_and_archive_any_half_copied_files",
									"description": "if any err in FTPing, set this flag and voice out the exception !!",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy from FTP",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_IS_ERR_TO_RAISE",
										"value": {
											"value": "Y",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Exec Fin File Checker",
									"description": "this checks if the fin file exists and throws error if otherwise !!",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_fin_FILE_CHECKER",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SRC_TBL_FILE_PATH": {
												"value": "@{concat(pipeline().parameters.SRC_TBL_FILE_PATH)}",
												"type": "Expression"
											},
											"SRC_TBL_FILE_NAME_PATTERN": {
												"value": "@pipeline().parameters.SRC_TBL_FILE_NAME_PATTERN",
												"type": "Expression"
											},
											"SRC_TYPE": {
												"value": "@pipeline().parameters.SRC_TYPE",
												"type": "Expression"
											},
											"DEST_TBL": {
												"value": "@pipeline().parameters.DEST_TBL",
												"type": "Expression"
											},
											"ID": {
												"value": "@pipeline().parameters.WINDOW_END_TIME_UTC",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "BLOB",
							"activities": [
								{
									"name": "BLOB 2 STG BLOB",
									"description": "copy data from blob to rds stage ",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.WINDOW_START_TIME_UTC",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.WINDOW_END_TIME_UTC",
													"type": "Expression"
												},
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false
									},
									"inputs": [
										{
											"referenceName": "BLOB_Binary_Datasets",
											"type": "DatasetReference",
											"parameters": {
												"CONTAINER": {
													"value": "@variables('V_NW_EXP_IMPORT_CONTAINER')",
													"type": "Expression"
												},
												"FOLDER_FILE": {
													"value": "@pipeline().parameters.SRC_TBL_FILE_PATH",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_blob_sink_4_hdfs",
											"type": "DatasetReference",
											"parameters": {
												"RDS_STAGE_LOC": {
													"value": "@if(equals(pipeline().parameters.DEST_TYPE, 'ODS'), variables('V_ODS_LOC'), concat(variables('V_RDS_STAGE_LOC'), '/', pipeline().parameters.SRC_TYPE, '-STAGE'))",
													"type": "Expression"
												},
												"RDS_STAGE_FOLDER": {
													"value": "@if(equals(pipeline().parameters.DEST_TYPE, 'ODS'), pipeline().parameters.ODS_LOC, pipeline().parameters.DEST_TBL)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set V_SRC_COUNT_DERIVED_4_BLOB",
									"description": "For BLOB, its not the row count but just the size of data written !!",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "BLOB 2 STG BLOB",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_SRC_COUNT_DERIVED",
										"value": {
											"value": "@string(activity('BLOB 2 STG BLOB').output.dataWritten)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "ORA_ELA_DB",
							"activities": [
								{
									"name": "ORA_ELA_2_AZ_COPY",
									"description": "Copy oracle ela to stage",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@concat(pipeline().parameters.QRY, ' ', if(equals(pipeline().parameters.CURR_MAX_DELTA_COL_VALUE, 'NULL'), 'WHERE 1 = 1', concat(' WHERE ', pipeline().parameters.SRC_DELTA_COL, ' > ',replace(pipeline().parameters.CURR_MAX_DELTA_COL_VALUE_FORMAT,'###VALUE###',pipeline().parameters.CURR_MAX_DELTA_COL_VALUE)) ), if(equals('NULL', pipeline().parameters.SRC_CUSTOM_WHERE_CLAUSE), ' ', pipeline().parameters.SRC_CUSTOM_WHERE_CLAUSE))",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ORA_ELA_Datasets",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "RDS_STAGE_CSV_DataSets",
											"type": "DatasetReference",
											"parameters": {
												"RDS_STAGE_LOC": {
													"value": "@concat(variables('V_RDS_STAGE_LOC'), '/', pipeline().parameters.SRC_TYPE, '-STAGE')",
													"type": "Expression"
												},
												"RDS_STAGE_FILE_FOLDER": {
													"value": "@pipeline().parameters.DEST_TBL",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set V_SRC_COUNT_DERIVED FOR ORA ELA",
									"description": "SETS THE COUNT OF ROWS COPIED",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "ORA_ELA_2_AZ_COPY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_SRC_COUNT_DERIVED",
										"value": {
											"value": "@STRING(activity('ORA_ELA_2_AZ_COPY').output.rowsCopied)",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Set OUTPUT_MESSAGE 4 INVALID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_OUTPUT_MESSAGE",
								"value": "Invalid SRC_TYPE in input. CASE sensitive. Allowed Values are \nHDFS | SYBASE_ENIQ | SYBASE_EDM | NTW_FTP | HDFS_EDGE | ORA_ELA"
							}
						}
					]
				}
			},
			{
				"name": "DEST is DBFS",
				"description": "if the DEST_TYPE is DBFS then all the loader notebook for ingesting to final tgt location/table",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Log Stage Completed Run Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(greater(int(variables('V_SRC_COUNT_DERIVED')),0), equals('DBFS', pipeline().parameters.DEST_TYPE))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LoadDBFSFromBlob",
							"description": "Call the databricks notebook loader to do copy from RDS stage to ODS or tgt table",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@variables('V_DBRICKS_LOADER_NTBK')",
									"type": "Expression"
								},
								"baseParameters": {
									"EXEC_RUN_ID": {
										"value": "@pipeline().parameters.EXEC_RUN_ID",
										"type": "Expression"
									},
									"RDS_STAGE_LOC": {
										"value": "@concat(variables('V_RDS_STAGE_LOC'), '/', pipeline().parameters.SRC_TYPE, '-STAGE')",
										"type": "Expression"
									},
									"RDS_STAGE_FILE_FOLDER": {
										"value": "@pipeline().parameters.DEST_TBL",
										"type": "Expression"
									},
									"SRC_COUNT_DERIVED": {
										"value": "@variables('V_SRC_COUNT_DERIVED')",
										"type": "Expression"
									},
									"METADATA_JSON": {
										"value": "@string(pipeline().parameters.METADATA_JSON)",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Networth_DataBricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log Success on both Control tables",
							"description": "Yay !! finally success flow. Update the metadata and load control table with success flow messages",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "LoadDBFSFromBlob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Updt ELT Execution",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EXEC_RUN_ID": {
										"value": "@pipeline().parameters.EXEC_RUN_ID",
										"type": "Expression"
									},
									"RUN_STATUS": "SUCCESS",
									"RUN_MESSAGE": "Successfully loaded stage to dbricks",
									"PREV_DELTA_VALUE": {
										"value": "@pipeline().parameters.CURR_MAX_DELTA_COL_VALUE",
										"type": "Expression"
									},
									"CURR_DELTA_VALUE": {
										"value": "@if(or(equals(pipeline().parameters.SRC_TYPE, 'HDFS'), or(equals(pipeline().parameters.SRC_TYPE, 'NTW_FTP'), equals(pipeline().parameters.SRC_TYPE, 'BLOB'))), pipeline().parameters.WINDOW_END_TIME_UTC, string(activity('LoadDBFSFromBlob').output.runOutput))",
										"type": "Expression"
									},
									"JOB_NAME": {
										"value": "@pipeline().parameters.JOB_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Log Stage Completed Run Status",
				"description": "Log a record on to load control to indicate the stage copy completion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Check for any is_err_to_raise",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Updt ELT Execution",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EXEC_RUN_ID": {
							"value": "@pipeline().parameters.EXEC_RUN_ID",
							"type": "Expression"
						},
						"RUN_STATUS": {
							"value": "@if(equals(pipeline().parameters.DEST_TYPE, 'STAGE'), 'SUCCESS', 'INFO:: Cpy2Stage Completed')",
							"type": "Expression"
						},
						"RUN_MESSAGE": {
							"value": "@concat('INFO:: Cpy2Stage Completed : Row Count or File Size :: ', variables('V_SRC_COUNT_DERIVED') , ' :: staged  ', concat(variables('V_RDS_STAGE_LOC'), '/', pipeline().parameters.SRC_TYPE, '-STAGE', '/'), pipeline().parameters.DEST_TBL)",
							"type": "Expression"
						},
						"PREV_DELTA_VALUE": {
							"value": "@pipeline().parameters.CURR_MAX_DELTA_COL_VALUE",
							"type": "Expression"
						},
						"CURR_DELTA_VALUE": "NULL",
						"JOB_NAME": {
							"value": "@pipeline().parameters.JOB_NAME",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DEST is just STAGE or ODS",
				"description": "If the DEST_TYPE is ODS or STAGE, where we dont want to spend money on Dbricks as its already ODS data from SRC.\n\nUse case would be \n  sync up hdfs table / schema to blob\n  DR for HDFS \n  IF No need for dedupe or audit fields or  delta table\n   ",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Log Stage Completed Run Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@AND(greater(int(variables('V_SRC_COUNT_DERIVED')),0),  EQUALS(pipeline().parameters.DEST_TYPE, 'ODS'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "set V_NEW_DELTA_VALUE_DIRECT_ODS",
							"description": "set the value for file based runs to be recorded against DELTA value on the metadata control table",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_NEW_DELTA_VALUE",
								"value": {
									"value": "@pipeline().parameters.WINDOW_END_TIME_UTC",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Log Success on both Control tables_ 4 just stage",
							"description": "Yay !! Success flow update the metadata control with delta and log success entry in to the control tables.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "msck repair",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Updt ELT Execution",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EXEC_RUN_ID": {
										"value": "@pipeline().parameters.EXEC_RUN_ID",
										"type": "Expression"
									},
									"RUN_STATUS": "SUCCESS",
									"RUN_MESSAGE": "Successfully loaded stage to ODS",
									"PREV_DELTA_VALUE": {
										"value": "@pipeline().parameters.CURR_MAX_DELTA_COL_VALUE",
										"type": "Expression"
									},
									"CURR_DELTA_VALUE": {
										"value": "@variables('V_NEW_DELTA_VALUE')",
										"type": "Expression"
									},
									"JOB_NAME": {
										"value": "@pipeline().parameters.JOB_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "msck repair",
							"description": "call msck repair as we didnot used dbfs to load to the ODS syncup.\nWatch for the cluster spin up time !! (cost too)",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "set V_NEW_DELTA_VALUE_DIRECT_ODS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@variables('V_DBRICKS_MSCK_NTBK')",
									"type": "Expression"
								},
								"baseParameters": {
									"DEST_TBL": {
										"value": "@pipeline().parameters.DEST_TBL",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_eniq_raw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Clean RDS if DEST_TYPE is not STAGE",
				"description": "Check for DEST_TYPE and prep for RDS_STAGE cleanup to avoid any dirty reads in the current  flow",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(pipeline().parameters.DEST_TYPE, 'ODS'), not(equals(pipeline().parameters.LOAD_TYPE, 'TRUNC_LOAD_ODS')))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Clean RDS Staging",
							"description": "Start to cleanup the RDS Stage blob for clean start",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_RDS_BLOB_CLEANER",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"RDS_STAGE_LOC": {
										"value": "@if(equals(pipeline().parameters.DEST_TYPE, 'ODS'), variables('V_ODS_LOC'), concat(variables('V_RDS_STAGE_LOC'), '/', pipeline().parameters.SRC_TYPE, '-STAGE'))",
										"type": "Expression"
									},
									"RDS_STAGE_FOLDER": {
										"value": "@if(equals(pipeline().parameters.DEST_TYPE, 'ODS'), pipeline().parameters.ODS_LOC, pipeline().parameters.DEST_TBL)",
										"type": "Expression"
									},
									"SRC_TYPE": {
										"value": "@pipeline().parameters.SRC_TYPE",
										"type": "Expression"
									},
									"DEST_TYPE": {
										"value": "@pipeline().parameters.DEST_TYPE",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Check for any is_err_to_raise",
				"description": "Checking if any err has occured in the copy to RDS flow",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Ingest_by_src_type",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('V_IS_ERR_TO_RAISE'), 'Y')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "set output_message for rds_stage copy failure",
							"description": "This is more like a err or info message to look upon",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_OUTPUT_MESSAGE",
								"value": "Either No File in staging to ingest to blob or src rec count is 0. Please check"
							}
						},
						{
							"name": "Raise Exception in RDS_STAGE copy",
							"description": "Please check the RDS_location and archive the files manually !!",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "set output_message for rds_stage copy failure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_RAISE_EXCEPTION",
								"value": {
									"value": "@int(variables('V_OUTPUT_MESSAGE'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute PL_SRC_COUNT_ZERO",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log Stage Completed Run Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SRC_COUNT_ZERO_CHECK",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SRC_COUNT_DERIVED": {
							"value": "@variables('V_SRC_COUNT_DERIVED')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"concurrency": 5,
		"parameters": {
			"QRY": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"SRC_TBL_FILE_PATH": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"DEST_TBL": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"DBFS_SAVE_MODE": {
				"type": "string",
				"defaultValue": "append"
			},
			"DBFS_COALESCE": {
				"type": "string",
				"defaultValue": "200"
			},
			"DBFS_PARTITION_BY": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"RDS_STAGE_LOC": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"DEST_TYPE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"ODS_LOC": {
				"type": "string",
				"defaultValue": "nw-ods-stage/NotApplicable"
			},
			"SRC_TYPE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"RDS_STAGE_FILE_FOLDER": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"DBFS_FILE_FORMAT": {
				"type": "string",
				"defaultValue": "DELTA"
			},
			"IS_AZ_AUDIT_COLS_2_ADD": {
				"type": "string",
				"defaultValue": "Y"
			},
			"SRC_DELTA_COL": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"SRC_TBL_PK_CSV": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"RDS_STAGE_FILE_FORMAT": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"SRC_CUSTOM_WHERE_CLAUSE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"WINDOW_START_TIME_UTC": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"WINDOW_END_TIME_UTC": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"JOB_NAME": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"EXEC_RUN_ID": {
				"type": "string",
				"defaultValue": "@pipeline.runId"
			},
			"CURR_MAX_DELTA_COL_VALUE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"CURR_MAX_DELTA_COL_VALUE_FORMAT": {
				"type": "string",
				"defaultValue": "'###VALUE###'"
			},
			"LOAD_TYPE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"METADATA_JSON": {
				"type": "object",
				"defaultValue": "N"
			},
			"SRC_TBL_FILE_NAME_PATTERN": {
				"type": "string",
				"defaultValue": "*"
			},
			"HDFS_PARTITION_COL_FORMAT": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"PARTITION_THRESHOLD": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"PARTITION_THRESHOLD_TYPE": {
				"type": "string",
				"defaultValue": "NULL"
			}
		},
		"variables": {
			"V_DELTA_COND_DERVIED": {
				"type": "String"
			},
			"V_SRC_COUNT_DERIVED": {
				"type": "String",
				"defaultValue": "0"
			},
			"V_OUTPUT_MESSAGE": {
				"type": "String",
				"defaultValue": "SUCCESS"
			},
			"V_RDS_STAGE_LOC": {
				"type": "String",
				"defaultValue": "rogers-eda-raw-prd-sensitive-storage/networth/nw-rds-stage"
			},
			"V_NEW_DELTA_VALUE": {
				"type": "String",
				"defaultValue": "NULL"
			},
			"V_RAISE_EXCEPTION": {
				"type": "Array"
			},
			"V_DBRICKS_LOADER_NTBK": {
				"type": "String",
				"defaultValue": "/app/dmt/network/data-ingestion-fwk/ntbk/LoadDBFSFromBlob"
			},
			"V_ODS_LOC": {
				"type": "String",
				"defaultValue": "rogers-eda-raw-prd-sensitive-storage/networth/nw-ods"
			},
			"V_NW_EXP_IMPORT_CONTAINER": {
				"type": "String",
				"defaultValue": "nw-exp-import"
			},
			"V_LOGS_CONTAINER": {
				"type": "String",
				"defaultValue": "logs"
			},
			"V_DBRICKS_MSCK_NTBK": {
				"type": "String",
				"defaultValue": "/app/dmt/network/data-ingestion-fwk/ntbk/dif-frmwrk-msck-repair"
			},
			"V_IS_ERR_TO_RAISE": {
				"type": "String",
				"defaultValue": "N"
			}
		},
		"folder": {
			"name": "Data Ingestion FrmWrk"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-09T16:28:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}